* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 968px;
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    height: 1100px;
    background-color: white;
}

/*header styling*/

header {
    height: 15%;
    border-bottom: 5px solid #24ac64;
    box-shadow: 0 .25rem .5rem 0 rgba(0, 166, 255, 0.05);
    background-color: #1D3354;
    font-family: "Rubik", sans-serif;
}

header .wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding-right: 50px;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #2c84ec;
}

h1 {
    font-size: 35px;
    color: #2c84ec;
}


span {
    color: #24ac64;
}

main {
    min-height: 60%;
}

main .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper.index {
    margin-top: 100px;
}

/*index.php styling*/
.landingPageInfo {
    font-family: "Roboto Mono", monospace;
    color: rgb(46, 46, 46);
}

main img {
    height: 50%;
}

/*login page styling*/
.login {
    background-image: url("../img/cliff-RXLqSTvWtlo-unsplash.jpg");
    background-position: top;
    background-size: cover;
}

.loginCard {
    border-radius: 20px;
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(9px) saturate(180%);
    -webkit-backdrop-filter: blur(9px) saturate(180%);
    background-color: rgba(235, 235, 235, 0.75);
    border-radius: 12px;
    border: 4px solid rgba(255, 255, 255, 0.125);
}

.loginNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
}

.loginNav h2 {
    font-family: "Rubik", sans-serif;
    cursor: pointer;
}

.loginNav h2.active {
    text-decoration: underline 3px solid #2c84ec;
    text-underline-offset: 8px;
}

form {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 60%;
    font-size: medium;
}

input {
    background-color: transparent;
    padding: 10px;
    border: 0px;
    border-bottom: 1px solid;
    border-color: black;
    color: #24ac64;
    font-size: medium;
}

#button {
    background-color: #2c84ec;
    width: 40%;
    cursor: pointer;
}

#button input {
    border: 0px;
    color: white;
}

#fullname-group {
    visibility: hidden;
    height: 0;
    width: 60%;
    font-size: medium;
}

#fullname-group label {
    margin-bottom: 5px;
}

#fullname {
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: transparent;
    color: #24ac64;
    font-size: medium;
}

/*index tasks styling*/
.tasksOverview {
    min-height: 70%;
    background-image: url("../img/backgroundTasks.jpg");
    background-position: top;
    background-size: contain;
}

.tasksOverview .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
}

.bar {
    width: 100%;
}

.filterBar {
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #1D3354;
}

.filterBar h3 {
    margin-right: 10px;
    padding: 2px;
}

.filterBar form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
}

.links {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.links a {
    background-color: #24ac64;
    text-decoration: none;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links a:hover {
    background-color: #2c84ec;
}

.links .plus {
    color: white;
    margin-right: 10px;
}

.links .arrow {
    color: white;
    margin-left: 10px;
}

.tables {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}

.table {
    width: 30%;
    height: 200px;
    border-spacing: 0 10px;
}

th {
    font-size: 32px;
    text-transform: uppercase;
    background-color: #1D3354;
    color: white;
    padding: 10px 0px 10px 0px;
}

tbody {
    height: 100%;
}

.dueDate {
    padding: 2px;
    border: 4px solid rgba(255, 255, 255, 0.125);
    display: flex;
    justify-content: space-between;
}

.onTime {
    background-color: #2c84ec;
    color: white;
}

.overdue {
    background-color: red;
    color: white;
}

.completed {
    background-color: #24ac64;
    color: white;
}

.taskCard {
    padding: 10px;
    backdrop-filter: blur(9px) saturate(180%);
    -webkit-backdrop-filter: blur(9px) saturate(180%);
    background-color: rgba(221, 217, 217, 0.541);
    border-radius: 0 0 12px 12px;
    border: 4px solid rgba(255, 255, 255, 0.125);
}

.taskCard h2 {
    padding-bottom: 10px;
}

p.description {
    padding-bottom: 10px;
}

p.department,
.tags a {
    background-color: #226d89;
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tags i {
    color: white;
}

.tags a {
    text-decoration: none;
    text-transform: uppercase;
}

/*create.php & edit.php styling*/

form.create,
form.edit {
    width: 60%;
    padding: 5px;
    backdrop-filter: blur(9px) saturate(180%);
    -webkit-backdrop-filter: blur(9px) saturate(180%);
    background-color: rgba(221, 217, 217, 0.541);
    border-radius: 0 0 12px 12px;
    border: 4px solid rgba(255, 255, 255, 0.125);
}

form.create h2,
form.edit h2 {
    text-transform: uppercase;
    color: #2c84ec;
    padding: 20px;
}


/*footer styling*/

footer {
    background-color: #1D3354;
    height: 15%;
    font-family: "Rubik", sans-serif;
}

footer .wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

footer img {
    height: 100px;
}

.extraInfo {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 15px;

}

/*msg styling*/
.msg {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #226d89;
    border-radius: 4px;
    color: white;
}

/*media queries*/
@media (max-width:768px) {
    .wrapper {
        width: 668px;
        height: 100%;
        margin: 0 auto;
    }

    header {
        height: 15%;
        border-bottom: 5px solid #24ac64;
        box-shadow: 0 .25rem .5rem 0 rgba(0, 166, 255, 0.05);
        background-color: #1D3354;
        font-family: "Rubik", sans-serif;
    }

    header .wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    header a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        padding-right: 15px;
    }

    nav a:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
        color: #2c84ec;
    }

    h1 {
        font-size: 35px;
        color: #2c84ec;
    }

    span {
        color: #24ac64;
    }

    .landingPageInfo {
        font-size: smaller;
    }

    footer h2 {
        font-size: medium;
    }

    .extraInfo {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        font-size: 15px;

    }

    .filterBar {
        align-items: center;
        text-align: center;
    }

    .filterBar form {
        width: 80%;
    }

    .filterBar select,
    .filterBar button {
        width: 100%;
        font-size: 14px;
        margin-bottom: 10px;
    }


    .tables {
        flex-direction: column;
        width: 100%;
    }

    .table {
        width: 90%;
        margin-bottom: 20px;
    }

    th {
        font-size: 20px;
    }

    td {
        font-size: 12px;
        text-align: left;
    }
}